
<div ng-hide="!loggedIn" ng-cloak>
	<div ng-controller="ChatController" class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-12">
						<h4>Hello {{username}} !</h4>
						<form ng-submit="sendMessage()">
							<div class="form-group">
								<p>Type your message here</p>
								<input class="form-control" ng-disabled="sending" type="text" ng-keydown="typeing()" ng-model="message"
									maxlength="{{textMaxLength}}">
								<div id="remaining-chars">{{ remainingChars }}</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" ng-controller="ChatUserController">
						<h5>Current users</h5>
						<div ng-show="currentUsers.length == 0">No other users online</div>
						<ul ng-show="currentUsers.length > 0">
							<li ng-repeat="u in currentUsers" >
								<span>{{u.username}}</span> <span>{{u.count}}</span>
							</li>
						</ul>
						<button class="btn btn-default" ng-click="refresh()">Refresh</button>
					</div>
				</div>

			</div>
			<div class="col-sm-7">
				<div id="chatBox">
					<div class="message-item" ng-class="{ 'message-right' : msg.username == username, 'message-left' : msg.username != username}"
						ng-repeat="msg in messages" chat-message-scroll>
						<div class="username">{{msg.username}}</div>
						<div class="message-content">
							<img class="img-responsive gif" ng-src="{{msg.gifUrl}}" ng-cloak />
							<div class="usertext">
								<div>{{msg.userText}}</div>
								<div class="senttime">{{msg.sentTime | ago }}</div>
							</div>
						</div>
					</div>
					<span id="lastAnchor">.</span>
				</div>
			</div>
		</div>
	</div>
</div>
