<div ng-hide="!loggedIn" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-12">
						<h4>Hello {{username}} !</h4>
						<form ng-submit="sendMessage()">
							<div class="form-group">
								<p>Type your message here</p>
								<input id="user-txt-field" class="form-control" ng-disabled="sending" type="text" ng-keydown="typeing()" ng-model="message"
									maxlength="{{textMaxLength}}" autofocus="autofocus">
								<div id="remaining-chars">{{ remainingChars }}</div>
							</div>
							<div class="form-group">
								<label>Show user messages</label>
								<input type="checkbox" ng-model="showUserTexts">
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" ng-controller="ChatUserController">
						<h5>Current users</h5>
						<div ng-show="currentUsers.length == 0">No other users online</div>
						<ul ng-show="currentUsers.length > 0">
							<li ng-repeat="u in currentUsers"><span>{{u.username}}</span> <span>{{u.count}}</span></li>
						</ul>
						<button class="btn btn-default" ng-click="refresh()">Refresh</button>
					</div>
				</div>
			</div>
			<div class="col-sm-7" ng-controller="ChatBoxController">
				<div id="chatBox">
					<div ng-if="chatBoxLazyLoading" class="text-center">Loading...</div>
					<div class="message-item" ng-class="{ 'message-right' : msg.username == username, 'message-left' : msg.username != username}"
						ng-repeat="msg in messages" scroll-bottom>
						<div class="username">{{msg.username}}</div>
						<div class="message-content">
							<div id="msg-{{$index}}" class="gif" ng-click="openOriginal(msg)">
								<img ng-src="{{msg.gifFixedHeight.url}}" />
							</div>
							<div ng-show="showUserTexts" class="usertext">
								<div>{{msg.userText}}</div>
								<div class="senttime">
									<span am-time-ago="msg.sentTime"></span>
								</div>
							</div>
						</div>
					</div>
					<span id="lastAnchor">.</span>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
