<div id="chatBox">
	<div id="chatBoxLoading" ng-if="chatBoxLazyLoading" class="text-center">
		<span class="fa fa-spinner fa-spin"></span> Loading...
	</div>
	<div class="message-item" ng-class="{ 'message-right' : msg.username == username, 'message-left' : msg.username != username}"
		ng-repeat="msg in messages" scroll-bottom>
		<div class="username">{{msg.username}}</div>
		<div class="message-content">
			<div id="msg-{{$index}}" class="gif" ng-click="openOriginal(msg)">
				<img ng-src="{{msg.gifFixedHeightUrl}}" />
			</div>
			<div class="usertext">
				<div>{{msg.userText}}</div>
				<div class="senttime">
					<span am-time-ago="msg.sentTime"></span>
				</div>
			</div>
			<div ng-if="msg.username == username || msg.hasSound" class="controls">
				<speak msg="msg"></speak>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div id="chatbox-status" ng-if="newMessagesCount !== 0" ng-click="scrollToPos(null,true)">
	<div class="alert alert-info text-center">
		new messages <span class="badge">{{newMessagesCount}}</span>
	</div>
</div>