<div id="chatBox">
	<div id="chatBoxLoading" ng-if="chatBoxLazyLoading" class="text-center">Loading...</div>
	<div class="message-item" ng-class="{ 'message-right' : msg.username == username, 'message-left' : msg.username != username}"
		ng-repeat="msg in messages" scroll-bottom loaded-images-size="{{loadedImagesSize}}">
		<div class="username">{{msg.username}}</div>
		<div class="message-content">
			<div id="msg-{{$index}}" class="gif" ng-click="openOriginal(msg)">
				<img ng-src="{{msg.gifFixedHeightUrl}}" />
			</div>
			<div class="usertext">
				<div>{{msg.userText}}</div>
				<div class="senttime">
					<span am-time-ago="msg.sentTime"></span>
				</div>
			</div>
			<div class="controls">
				<speak msg="msg"></speak>
			</div>
		</div>
	</div>
	<span id="lastAnchor">.</span>
	<div class="clearfix"></div>
</div>