#main-container {
	margin-top: 20px;
}

#chatBox {
	overflow: auto;
	min-height: 500px;
	max-height: 500px;
}

#remaining-chars {
	margin-top: 5px;
	font-size: 11px;
	color: #CCC;
}

.message-item {
	width: 50%;
	margin: 5px 0;
}

.message-item .username {
	color: gray;
	font-size: 10px;
}

.message-content {
	display: inline-block;
}

.message-content .gif {
	position: relative;
	z-index: 100;
}

.message-content .usertext {
	position: relative;
	z-index: 101;
	color: black;
	background: white;
	padding: 5px;
	margin-top: -50px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	width: 98%;
}

.message-item .senttime {
	position: relative;
}

.message-right .usertext {
	border-radius: 0 5px 5px 0;
	border-right: 1px black solid;
}

.message-left {
	border-radius: 5px 0 0 5px;
	border-left: 1px black solid;
}